---
import { Image } from 'astro:assets'
import emotionalConnection from '../assets/images/conexion-emocional.png'

import GooglePlay from '../assets/icons/google-play.svg'
import AppStore from '../assets/icons/app-store.svg'
---

<section
    class="flex flex-col items-center justify-center gap-8 p-8 max-w-7xl mx-auto md:flex-row"
>
    <Image
        src={emotionalConnection}
        alt="Imagen de fondo del hero. Personas en una reunión familiar"
        width={1560}
        height={1014}
        class="h-full w-full object-cover rounded-xl"
    />
    <div class="flex flex-col items-center justify-center gap-6 md:items-start">
        <h2 class="text-3xl">
            Conexión emocional <span class="font-serif">para siempre</span>
        </h2>
        <div class="flex flex-col gap-1">
            <p>
                Crea un espacio para recordar y compartir juntos. Podrás brindar
                acceso a tu familia para mantener vivas esas memorias.
            </p>
            <p>
                Crea una cuenta de manera simple y genera esos recuerdos
                vividos.
            </p>
        </div>
        <div class="flex gap-4 mt-4">
            <GooglePlay width={150} height={50} aria-hidden />
            <AppStore width={150} height={50} aria-hidden />
        </div>
    </div>
</section>
