---
import Brand from '../assets/illustrations/brand.svg'
import SecondaryBrand from '../assets/illustrations/brand-secondary.svg'
---

<footer class="bg-dark text-white w-full">
    <div class="flex flex-col items-center justify-center gap-8 p-8">
        <div
            class="flex flex-row items-center justify-center gap-2 max-w-7xl mx-auto"
        >
            <SecondaryBrand class="h-10 w-auto" />
            <Brand class="h-10 w-auto" />
        </div>
    </div>
    <div class="border-t p-8 flex flex-col items-center">
        <p class="text-sm">@ Legado Eterno 2025. All Rights Reserved</p>
    </div>
</footer>
