---
import { Image } from 'astro:assets'

import testimonial1 from '../assets/images/testimonials/testimonial-1.png'
import testimonial2 from '../assets/images/testimonials/testimonial-2.jpg'
import testimonial3 from '../assets/images/testimonials/testimonial-3.jpg'
import Chevron from '../assets/icons/chevron.svg'
---

<section>
    <h2 class="text-center text-3xl">
        Más de 5.000<br /><span class="font-serif italic"
            >Recordando a sus seres queridos</span
        >
    </h2>
    <p class="text-center">
        Conoce las experiencias de gente que ya usó Legado Eterno
    </p>

    <div
        class="flex flex-row items-center justify-between overlfow-hidden w-full"
    >
        <Chevron
            width={32}
            height={32}
            class="bg-gray-500 rounded-full hover:bg-black hover:scale-120 transition-transform duration-200 hidden md:block"
        />
        <div class="flex flex-row gap-9">
            <Image
                src={testimonial1}
                alt=""
                width={1560}
                height={1014}
                class="h-[475px] w-[338px] object-cover rounded-xl"
            />
            <Image
                src={testimonial2}
                alt=""
                width={1560}
                height={1014}
                class="h-[475px] w-[338px] object-cover rounded-xl"
            />
            <Image
                src={testimonial3}
                alt=""
                width={1560}
                height={1014}
                class="h-[475px] w-[338px] object-cover rounded-xl"
            />
        </div>
        <Chevron
            width={32}
            height={32}
            class="bg-gray-500 rounded-full rotate-180 hover:bg-black hover:scale-120 transition-transform duration-200 hidden md:block"
        />
    </div>
</section>
